* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem 3rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 5rem;

  align-items: center;

  .logo-img {
    width: 5rem;
  }

  .nav-links {
    height: inherit;
  }
  ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: inherit;
  }
  li {
    list-style: none;
    padding: 0.5rem;
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .btn-login-logout {
    background-color: white;
    cursor: pointer;
    margin: 0 0.5rem;
    border: none;
    font-weight: bold;
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.food-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  a {
    text-decoration: none;
    color: black;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 1.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  img {
    width: 100%;
  }

  h5 {
    margin: 4px 0;
  }
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.shimmer-card {
  background-color: #f0f0f0;
  width: 15rem;
  height: 20rem;
}

.filter-container {
  display: flex;
  gap: 2rem;
}
